extends linked

block content

    style.
        h2 {
            color : #bd4b4b;
            font-size : 25pt;
        }
    
    script.
            function deleteAcc(Id_P) {
            fetch(`/delete/${Id_P}`, {
                method: "DELETE"
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete account');
                }
                window.location.reload();
            }).catch(err => console.log(err));
        }

    body.bodyTGM
        header.headercv
            div.headercv-content
                a(href="/"): button(class="head-solarsyst-btn") Log Out
            div.header-content
                h2 Admin
            div.headercv-content
                a(href="/stars"): button(class="head-solarsyst-btn") Stars home
            

        div(class="homeTGM")    
            .container-banner 
                    .section-banner
                        #star-1
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-2
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-3
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-4
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-5
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-6
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-7
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-8
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-9
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-10
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-11
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft
                        #star-12
                            .curved-corner-star
                                #curved-corner-bottomright
                                #curved-corner-bottomleft
                            .curved-corner-star
                                #curved-corner-topright
                                #curved-corner-topleft

            section
                h2(style = "text-align : center; margin : 15px auto;") Accounts Information
                div.div-account
                    if !l || l.length === 0
                        p No users found.
                    else
                        each item in l
                            div.box
                                p Name : #{item.name}
                                p Username : #{item.username}
                                p Email : #{item.email}
                                p Last Name : #{item.lastname}
                                if item.role_id == 1
                                    p Role : User
                                else if item.role_id == 2
                                    p Role : Admin
                                button(class = "head-button " type = "submit", onclick = `deleteAcc(${item.Id_P})`) Delete Account 
